package main

import (
	"errors"
	"fmt"
	"log"
	"os"
	"path/filepath"
	"strconv"
	"strings"

	"github.com/swaggest/openapi-go"
	"github.com/swaggest/openapi-go/openapi31"
)

type SiteRequest struct {
	SiteID string `path:"siteId"`
}

type meta struct {
	RC      string `json:"rc"`
	Message string `json:"msg"`
}

var reflector = openapi31.Reflector{
	Spec: &openapi31.Spec{
		Openapi: "3.1.0",
		Info: openapi31.Info{
			Title:   "Unifi API",
			Version: UnifiVersion,
		},
	},
}

func getServer() openapi31.Server {
	server := openapi31.Server{}
	server.WithVariablesItem("host", openapi31.ServerVariable{
		Default: "unifi.ui.com",
	})
	server.WithVariablesItem("port", openapi31.ServerVariable{
		Default: "4443",
	})
	server.WithDescription("Unifi Controller API")
	
	return server
}

func main() {
	reflector.Spec.SetDescription("Unifi Controller API")

	server1 := getServer()
	server1.WithURL("https://{host}:{port}/proxy/network/api")

	server2 := getServer()
	server2.WithURL("https://{host}:{port}/api")

	reflector.Spec.WithServers(server1, server2)

	reflector.Spec.SetAPIKeySecurity("apiKeyAuth", "X-API-KEY", openapi.InHeader, "X-API-KEY")

	addOperations()

	schema, err := reflector.Spec.MarshalYAML()
	if err != nil {
		log.Fatal(err)
	}

	os.WriteFile(filepath.Join("assets", "openapi.yaml"), schema, 0777)

	fmt.Println(string(schema))
}

var PathMappings = map[string]map[string]string{
	"Id": {
		"siteId": "SiteID",
		"id":   "_id",
	},
	"Site": {},
}

var ErrorResponse = struct {
	Meta meta `json:"meta"`
	Data []struct {
		Meta meta `json:"meta"`
	} `json:"data"`
}{}

func addOperations() {
{{ range $i, $s := .Structs }}
	add{{ $s }}()
{{- end }}
}

func emptyBoolToTrue(b *bool) bool {
	if b == nil {
		return true
	}
	return *b
}

// numberOrString handles strings that can also accept JSON numbers.
// For example a field may contain a number or the string "auto".
type numberOrString string

func (e *numberOrString) UnmarshalJSON(b []byte) error {
	if len(b) == 0 {
		return nil
	}
	s := string(b)
	if s == `""` {
		*e = ""
		return nil
	}
	var err error
	if strings.HasPrefix(s, `"`) && strings.HasSuffix(s, `"`) {
		s, err = strconv.Unquote(s)
		if err != nil {
			return err
		}
		*e = numberOrString(s)
		return nil
	}
	*e = numberOrString(string(b))
	return nil
}

// emptyStringInt was created due to the behavior change in
// Go 1.14 with json.Number's handling of empty string.
type emptyStringInt int

func (e *emptyStringInt) UnmarshalJSON(b []byte) error {
	if len(b) == 0 {
		return nil
	}
	s := string(b)
	if s == `""` {
		*e = 0
		return nil
	}
	var err error
	if strings.HasPrefix(s, `"`) && strings.HasSuffix(s, `"`) {
		s, err = strconv.Unquote(s)
		if err != nil {
			return err
		}
	}
	i, err := strconv.Atoi(s)
	if err != nil {
		return err
	}
	*e = emptyStringInt(i)
	return nil
}

func (e *emptyStringInt) MarshalJSON() ([]byte, error) {
	if e == nil || *e == 0 {
		return []byte(`""`), nil
	}

	return []byte(strconv.Itoa(int(*e))), nil
}

type booleanishString bool

func (e *booleanishString) UnmarshalJSON(b []byte) error {
	s := string(b)
	if s == `"enabled"` {
		*e = booleanishString(true)
		return nil
	} else if s == `"disabled"` {
		*e = booleanishString(false)
		return nil
	}
	return errors.New("could not unmarshal JSON value.")
}

//go:generate go run golang.org/x/tools/cmd/stringer -trimprefix DeviceState -type DeviceState
type DeviceState int

const (
	DeviceStateUnknown          DeviceState = 0
	DeviceStateConnected        DeviceState = 1
	DeviceStatePending          DeviceState = 2
	DeviceStateFirmwareMismatch DeviceState = 3
	DeviceStateUpgrading        DeviceState = 4
	DeviceStateProvisioning     DeviceState = 5
	DeviceStateHeartbeatMissed  DeviceState = 6
	DeviceStateAdopting         DeviceState = 7
	DeviceStateDeleting         DeviceState = 8
	DeviceStateInformError      DeviceState = 9
	DeviceStateAdoptFailed      DeviceState = 10
	DeviceStateIsolated         DeviceState = 11
)
